.encabe{
    background-color:#000; 
    color: #fff;
    padding: 20px 10px 20px 10px;
}
/*-----Menu-----*/
.navbar{
    background-color: #fff;
    margin: 0;
}
.menu {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(138, 5, 190);
    background-color: #fff;
    position: fixed;
    top:0;left: 0; right: 0;
    z-index: 1;
}

.btn_clas{
	text-decoration: none;
    height: 100%;
    background-color: rgb(138, 5, 190);
    display: block;
	color: #fff;
    padding: 30px;
    font-size: 18px;
    cursor: pointer;
    font-family: Graphik,'Gotham SSm A','Gotham SSm B','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

.btn_clas1{
	text-decoration: none;
    height: 100%;
    background-color: #fff;
    display: block;
	color: rgb(138, 5, 190);
    padding: 30px;
    font-size: 18px;
    cursor: pointer;
    font-family: Graphik,'Gotham SSm A','Gotham SSm B','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
.btn_clas:hover{
    background-color: rgb(138, 5, 190);
    color: #fff;
    text-decoration: none;
}
.btn_clas1:hover{
	background-color: #fff;
    color: rgb(138, 5, 190);
    text-decoration: none;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden; 
}
.dongato{
    background: url("../image/9.jpg"), #49A3D6;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    max-height: 600px; 
    margin-top: 90px;
}

.dongato .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0; }
    .dongato .contenedor-texto .texto {
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      padding: 20px 60px; }
      .dongato .contenedor-texto .texto h1, .dongato .contenedor-texto .texto h2 {
        color: #fff;
        font-weight: 300;
        margin: 0; }
    .dongato .contenedor-texto .texto .nombre {
        margin-bottom: 10px;
        font-size: 50px;
        line-height: 50px; 
    }
    .dongato .contenedor-texto .texto .profesion {
        font-size: 25px;
        line-height: 25px; 
    }

.main .contenedor {
  overflow: visible; 
}
.main .acerca-de {
  text-align: center; 
}
.main .acerca-de .foto {
    margin-top: -60px; 
}
.main .acerca-de .foto img {
    border-radius: 100%;
    vertical-align: top;
    border: 5px solid rgba(255, 255, 255, 0.2); 
}


  .main .acerca-de .texto {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto; }
    .main .acerca-de .texto .titulo {
      font-size: 34px;
      margin-bottom: 40px;
      line-height: 34px;
      font-weight: 300;
      color: #dd820d;
      text-align: center; }
    .main .acerca-de .texto .bold {
      color: #3895ea;
      text-decoration: underline; }
      main .contenedor {
        overflow: visible; }
      .main .acerca-de {
        text-align: center; }
        .main .acerca-de .foto {
          margin-top: -60px; }
          .main .acerca-de .foto img {
            border-radius: 50%;
            vertical-align: top;
            border: 5px solid rgba(255, 255, 255, 0.2); }
        .main .acerca-de .texto {
          color: #5a5a5a;
          font-weight: 600;
          font-size: 1em;
          line-height: 30px;
          width: 80%;
          margin: 40px auto 60px auto; }
          .main .acerca-de .texto .titulo {
            font-size: 34px;
            margin-bottom: 40px;
            line-height: 34px;
            font-weight: 300;
            color: #dd820d;
            text-align: center; }
          .main .acerca-de .texto .bold {
            color: #3895ea;
            text-decoration: underline; }